html {
    background: url(images/craps6.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#title {
    text-align: center;
    color: white;
}
#stats_area {
    text-align: center;
    border: 2px solid white;
    border-radius: 20px;
    padding-bottom: 9px;
    background-color: rgba(228,255,0,0.5);
}
#stats_main{

    padding: 0px;


}
#stats_main ul, #stats_main h1 {
    margin: 0px;
    list-style-type: none;
    padding-left: 0;
}
#buttons {
    /*background-color: rgba(255,0,0,0.5);*/
    text-align: center;
    padding-top: 4%;
    padding-bottom: 1.5%;
}
#buttons button {
    width: 100px;
}
#buttons button:first-child {
    margin-right: 50px;
}
#buttons h1 {
    padding-bottom:0;
    margin-top:-30px;
    font-size: 20px;
    color: white;
    text-shadow: 5
}

#game_area {
    /*background-color: rgba(144, 238, 144, 0.51);*/
    text-align: center;
    height: 80vh;
    position:relative;
}

.game_board {
    height: 75vh;
    width: 75vh;
    margin:auto;
    /*padding: 1% 25% 0% 15%;*/
    text-align: center;
    margin-top:1%;
}
@keyframes blinker {
    50% { opacity: 0; }
}

#player_1 {
    /*background-color: darkred;*/
    /*
    javascript adds active_player class to change the background for these
    the ID css overrides the class css from javascript so i commented it out temporarily
    */
    text-align: center;
    height: 40vh;
    font-size: 100px;
    background-color: rgba(8, 8, 8, 0.38);
    border-radius: 60%;
    margin-left: 5%;
    margin-right: 10%;
}

#player_2 {
    /*background-color: aqua;*/
    text-align: center;
    height: 40vh;
    font-size: 100px;
    background-color: rgba(8, 8, 8, 0.38);
    border-radius: 60%;
    margin-left: 5%;
    margin-right: 10%;
}
#players{
    padding: 0;
}
#player_1 img, #player_2 img {
    width:60%;
    max-height:70%;
}
#player_1 > h1, #player_2 > h1{
    margin-top:0px;
    padding-top: 50px;
}
h2{
    margin: 0;
    color: red;
    text-shadow: white 3px 3px 3px;
    font-size: 50px;
}
#players_area{
    padding: 0;
}
.current-grid {
    background-color: #ff0;
}

/* js */
.ttt_cell{
    width: 33%;
    height: 33%;
    box-sizing: border-box;
    border: 1px solid black;
    display: inline-block;
    font-size: initial;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.75);
    float:left;
}
.ttt_cell:nth-child(even){
    /*background-color: rgba(255, 0, 0, 0.75);*/
}
.game_board img {
    height:100%;
    width:100%;
    /*float: left;*/
}
.active_player{
    color: white;
    border-radius: 5px;
}
.active_player span {
    animation: blinker 1s linear infinite;
}
#timer {
    background: white;
    position: relative;
}
.game_over {
    background-color: #999;
}
#settings-container {
    display:none;
    position: fixed;
    z-index: 5;
    min-height:100%;
    min-width: 100%;
}
#settings-popup-bg{
    height:100%;
    width: 100%;
    position:fixed;
    background-color: rgba(0, 0, 0, 0.75);

}
#settings-popup {
    margin:auto;
    position:relative;
    margin-top: 10%;
    width:33vw;
    height:25vw;
    background-color:white;
}