html {
    background: url(images/craps6.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#title {
    text-align: center;
    color: white;
}

#stats_area {
    text-align: center;

}
#stats_main{
    background-color: rgba(255,0,0,0.5);
    padding: 0;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

#buttons {
    background-color: rgba(228,255,0,0.5);
    text-align: center;
    padding-top: 4%;
    padding-bottom: 1.5%;
}

#game_area {
    text-align: center;
    height: 80vh;
    position:relative;
}

.game_board {
    background-color: white;
    height: 75vh;
    width: 75vh;
    margin:auto;
    /*padding: 1% 25% 0% 15%;*/
    text-align: center;
}

#player_1 {
    /*background-color: darkred;*/
    /*
    javascript adds active_player class to change the background for these
    the ID css overrides the class css from javascript so i commented it out temporarily
    */
    text-align: center;
    height: 40vh;
    background-color: rgba(0,102,255,0.5);
    border-radius: 40%;
}

#player_2 {
    /*background-color: aqua;*/
    text-align: center;
    height: 40vh;
    background-color: rgba(255,0,212,0.5);
    border-radius: 40%;
}
#players{
    padding: 0;
}
#player_1 > h1, #player_2 > h1{
    margin-top: 0;
}
#players_area{
    padding: 0;
}

/* js */
.ttt_cell{
    width: 33%;
    height: 33%;
    box-sizing: border-box;
    border: 1px solid black;
    display: inline-block;
    font-size: initial;
    float: left;
}
.active_player{
    background-color: red;
}

#timer {
    background: white;

}